* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
   
}
 @font-face {
        font-family:Gilroy;
        src: url("assets/Gilroy-ExtraBold.ttf") format(TrueType);

    }
    @font-face {
      font-family:Sovereign;
      src: url("assets/Sovereign.ttf") format(TrueType);
  }
header{
    background-image: url("assets/starWarsheader.png");
    background-repeat:no-repeat;
    background-size:cover;
    width: 100%;
    height: 88vh;
    display: flex;
    
}
.header-container{
    width: 100%;
    display: flex;
}
.header-logo-star{
    width: 80vw;
    height: 62vh;
    display:flex;
    justify-content:center;
    align-items:flex-end;
    margin-right: -35%;
}

.header-logo-wars{
    width: 80vw;
    height: 61vh;
    margin-left: 10%;
    display:flex;
    justify-content:center;
    align-items:flex-end;
}
.star-header-logo{
    width: 35%;
}

.star-header-logo-wars{
    width: 35%;
}

.header-front-img{
    display: flex;
    width:95%;
    height: 80%;
    position: absolute;
    justify-content:center;
    align-items: flex-end;
  
}

.header-img{ 
    position: relative;
    top: 29%;
    width: 65%;
}

.header-button{
    position: relative;
    top: 8%;
}
main{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.main-section{
    background-image: url("assets/sta_uo_robot.png");
    background-repeat: no-repeat;
    height: 155vh;
    display: flex;
    flex-direction: column;
}
.div-download{
    display: flex;
    position: relative;
    bottom: 4vh;
    width: 95vw;
}

.download-img{
background-image: url('assets/strom_trupe_red.png');
background-repeat: no-repeat;
width: 21vw;
height: 32vw;
display: flex;
flex-direction: column;
justify-content: space-around;
align-items: center;
color: #fff;
margin-top: -2%;
position: relative;
left: 20%;
}

.main-container{
    display: flex;
    flex-direction: column;
}

.download{
    border: 3px solid;
    border-radius: 10px;
    text-transform: uppercase;
    padding: 7%;
    padding-top: 2%;
    padding-bottom: 2%;
}
.download-p{
    padding: 4%;
    font-size: 1.3rem;
    text-align: left;
    opacity: 0.5;
    text-transform: initial;

}
.download-p-start{
    padding-left: 25%;
    padding-right: 25%;
    margin-top: 12%;
    text-transform: uppercase;
    font-size: 3rem;


}
.p-update{
    margin-left: 50%;
    font-size: 0.7rem;
    opacity: 0.5;

}
.pop-up-download{
     text-decoration: none;
     color: #fff;
}

.div-container-about{
    display: flex;
    width: 98vw;
    justify-content: flex-end;
    position: absolute;
    top: 117vh;


}
.div-container-text{
    display:flex;
    flex-direction: column;
    align-content: flex-end;
    width: 25vw;
    text-align: right;
}
.p-about-title{
border-bottom: #000 solid;
padding-bottom: 2vh;
font-weight: bold;
font-size: 2rem;
text-transform: uppercase;
width: 13vw;
position: relative;
right: -12vw;
}
.p-about-description{
    padding-top: 1vh;
    font-size: 1.2rem;
    font-weight: 600;
    width: 25vw;
}

.div-container-img-about{
    margin-left: 1vw;
}
.dive-line{
    display: flex;
    width: 99vw;
}
.line{
    position: relative;
    left:18vw;
    top: 2vw;
    align-items: flex-end;

}
.main-second-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height:120vh ;
    padding-top: 10vh;

}
.character-darthmaw,.character-rey{
    position: relative;

}
.character-darthmaw{
    left: 4vw;
}

.character-rey{
    top: 5vh;
}
ul{
    list-style: none;
}
.li-title,.li-title-bold{
    font-size: 5rem;
    font-weight: 600;
    text-transform: uppercase;
}
.div-Title-li{
    display: flex;
    width: 30vw;
}
.li-title-bold{
    font-weight: 800;
}
.menu{
    text-decoration: none;
    color: #000;
    text-align: right;
    position: relative;
    bottom:  10vh;
    right: 10vw;
}
.menu-li{
    text-decoration: none;
    color: #000;
    text-align: right;
    font-size: 2rem;
    line-height: 8vh;
    text-transform: uppercase;
}
.menu-li:hover{
    color: #fff;
    background-color: rgb(248, 36, 21);
}

.section-imgs-atribute{
    background-color: #2D2D2D;
    width: 99.2vw;

}
.second-section-container{
    display: flex;
    justify-content: flex-start;
    padding-left: 10vw;
    padding-bottom: 6vh;
}
.title-second-section{
    padding-top: 8vw;
    font-size: 2.3rem;
    font-family: Sovereign;

}
h2{
    text-transform: uppercase;
    color: #fff;
    font-size: 4rem;
    font-family: Sovereign;
    font-weight: 400;
}
.game-img{
    display: flex;
    justify-content: center;
    width: 99vw;
    padding-bottom: 5vh;
}
.four-imgs{
    width: 46vw;
}
.img-hover:hover{
background: url("assets/Grupo\ novos\ graficos.png");
background-size:contain;
width: 21.8vw;

}
.princpal-img:hover{
    background: url("assets/Grupo\ novos\ graficos.png");
    background-repeat:no-repeat;
    background-size: 44vw;
    width: 44vw;
 
}
.gallery-grid{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.second-section-paraghp{
    display: flex;
    padding-top: 1rem;
}

.second-section-paraghp-text{
    display: flex;
    position: relative;
    color: #fff;
    text-align: right;
    width: 40vw;
    left: 53vw;
}
.container-how-to-play{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
}
.section-below-character-capitan{
    display: flex;
    position: relative;
    bottom: 45vh;
}
.section-below-white-bg{
    display: flex;
}
.footer{
    display: flex;
    width: 100%;
    background-color: #fff;
}